ipywidgets=7.6.3
json5=0.9.5
jsonschema=3.2.0
jupyter-packaging=0.10.1
jupyter_client=6.1.12
jupyter_core=4.7.1
jupyter_server=1.6.4
jupyterlab=3.0.14
jupyterlab_server=2.5.0
matplotlib-base=3.4.2
matplotlib-inline=0.1.2
notebook=6.3.0
numpy=1.20.2
openssl=1.1.1k
pandas=1.2.4
pandoc=2.13
pip=21.1.1
python=3.9.2
requests=2.25.1
s3transfer=0.4.2
scikit-learn=0.24.2
scipy=1.6.3
seaborn=0.11.1
seaborn-base=0.11.1
send2trash=1.5.0=py_0
setuptools=49.6.0
statsmodels=0.12.2
voila=0.2.10
watchdog=2.1.
webencodings=0.5.1=
widgetsnbextension=3.5.1
