ipykernel
ipython
ipython_genutils
matplotlib
numpy
json5
jsonschema
jupyter-packaging
jupyter_client
jupyter_core
jupyter_server
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
pandas
scikit-learn
scipy
seaborn
voila
statsmodels
requests
setuptools
ipywidgets
warnings
