ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
matplotlib @ file:///Users/runner/miniforge3/conda-bld/matplotlib-suite_1620506027623/work
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1618935594181/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1618415081862/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1616933188420/work
pandas==1.2.4
pandocfilters==1.4.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1619628730062/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1619561978986/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1611834504644/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1612273630071/work
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1605475534277/work
